:root {
  /*GLOBAL VARIABLES*/
  --color-primary: #454545;
  --color-secondary: #ff6000;
  --color-tertiary: #ffa559;
  --color-accent: #ffe6c7;
  --color-background: #292929;
  --color-text: #aaaaaa;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

/*Typography*/

::selection {
  background: var(--color-primary);
  color: white;
}

html {
  /*62.5% of 16px = 10px*/
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.3rem; /*mobile aproach first*/
  line-height: 1.5; /*1.5*font size distancia entre linhas*/
  color: var(--color-body);
}

h1 {
  font-size: 4rem;
  color: white;
}

h2 {
  font-size: 2rem;
  color: var(--color-secondary);
}

p.bold {
  font-weight: bold;
}

/*Buttons*/
.btn {
  border: none;
  color: white;
  background: var(--color-secondary) !important;
  padding: 0 3rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--color-tertiary) !important;
}

/*Header*/
.header {
  background-image: url(/src/images/bg.jpg);
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.header a,
.header p {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.header a:hover,
.header p:hover {
  color: var(--color-secondary);
  transition: all 0.3;
  text-shadow: 0px 0px 20px #ffffff;
}

.header-other a {
  padding-right: 3rem;
}

.header-other p {
  padding-right: 3rem;
}

.header-other {
  display: flex;
}

/*Landing*/

.body {
  background: var(--color-primary);
  min-height: 70vh;
  padding-bottom: 5rem;
}

.posts,
.albums {
  padding: 5rem;
}

.posts h1:hover > i,
.albums h1:hover > i {
  padding: 3rem;
  transition: padding 0.2s;
}

.posts h1 i,
.albums h1 i {
  transition: padding 0.2s;
}

.posts h1,
.albums h1 {
  cursor: pointer;
}

.posts-area,
.albums-area {
  background-color: var(--color-background);
  padding: 1rem;
  cursor: pointer;
  gap: 1px;
}

.post,
.album {
  position: relative;
  padding: 1rem 1rem 5rem 1rem;
  margin: 1rem 0;
  background-color: var(--color-primary);
  color: var(--color-text);
}

.post:hover,
.album:hover {
  background-color: #585858;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.album img {
  width: 10%;
  margin: 1rem 0;
}

.album span {
  text-align: right !important;
}

.title {
  height: 7rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .posts-area,
  .albums-area {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
  }

  .post,
  .album {
    margin: 0;
  }
}

/*Register*/
.register {
  background: var(--color-background);
  min-height: 70vh;
  padding: 5rem 10rem;
  text-align: center;
}

.register p {
  color: var(--color-text);
}

.register input {
  background-color: var(--color-tertiary);
  padding: 1rem;
  border-radius: 20px;
  margin-left: 5rem;
  margin: 1rem;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .register input {
    width: 45%;
  }
}

/*Posts*/
.all-posts {
  background: var(--color-background);
  min-height: 70vh;
  text-align: center;
  padding: 2% 10%;
}

.create-post {
  padding: 1% 10%;
  color: white;
}

.create-post input {
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--color-text);
  margin: 1rem 0;
  border: none;
}

.create-post .btn {
  width: 50%;
}

.creat-post-title {
}

.creat-post-body input {
  height: 10vh;
}

.single-post {
  padding: 3rem 1rem;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}

.single-post:hover {
  border: 1px solid var(--color-secondary);
}

.single-post h3 {
  color: var(--color-tertiary);
}

.comments {
  margin: 4%;
}

.comment {
  margin: 1%;
  padding: 3rem 1rem;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  text-align: left;
  border-radius: 5px;
}

.full-post {
  background: var(--color-primary);
  border-radius: 20px;
  text-align: left;
  padding: 2rem;
}

.post-author {
  color: var(--color-secondary);
  font-size: 2rem;
  border-bottom: 1px solid var(--color-secondary);
}

.post-title {
  padding: 1rem 0;
  color: var(--color-tertiary);
}

.post-body {
  padding: 1rem 1rem;
  color: white;
  border-radius: 5px;
  border: 1px solid var(--color-text);
}

/*Galery*/

.galery {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.galery img {
  width: 100%;
  cursor: pointer;
  border: 1px solid var(--color-background);
}

.galery img:hover {
  border: 3px solid var(--color-background);
}

.galery-item {
  position: absolute;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
}

.galery-item i {
  color: white;
  font-size: 4rem;
  cursor: pointer;
  transition: color 0.2s;
}

.galery-item i:hover {
  color: var(--color-secondary);
  transition: color 0.2s;
}

.galery-item-img {
  margin: 20vh 30vw;
}

.galery-item-img img {
  width: 40vw;
}

.left {
  position: absolute;
  margin: 50vh 25vw;
}

.right {
  position: absolute;
  margin: 50vh 73vw;
}

.close {
  position: absolute;
  top: 0;
  margin: 0 95vw;
}

.invisible {
  display: none;
}

/*Profile*/
.profile-grid {
  padding: 5vh 5vw;
}

.profile-menu {
  background-color: var(--color-background);
  color: white;
  border-radius: 5px;
  width: 85%;
  margin-bottom: 1rem;
}

.profile-menu p {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.profile-menu p:hover {
  background-color: #a3a3a3;
  border-radius: 5px;
}

.selected {
  background-color: #a3a3a3;
  border-radius: 5px;
}

.profile-option {
  padding: 1rem;
  background-color: var(--color-background);
  border-radius: 5px;
  width: 85%;
}

.info {
  color: white;
  text-align: center;
}

.block {
  border: 1px solid var(--color-text);
  padding: 1rem;
  margin: 1rem 20vw;
  border-radius: 10px;
}

.address {
  padding: 1rem;
  margin: 1rem 20vw;
}

.bold {
  font-weight: bold;
  color: var(--color-text);
}

.inline {
  display: inline;
}

@media screen and (min-width: 768px) {
  .block {
    display: flex;
    justify-content: space-between;
  }

  .profile-grid {
    padding: 5vh 5vw;
    display: flex;
    gap: 5%;
    align-items: flex-start;
  }

  .profile-menu {
    width: 13%;
  }
}

/*Landing Page*/

.forum-body {
  margin: 5vh 10vw;
}

.forum-categories {
  background-color: #5a5a5a;
  box-shadow: 1px 1px 10px 5px rgb(44, 44, 44);
  color: white;
}

.forum-category {
  padding: 1rem;
  border-top: 1px solid rgb(160, 160, 160, 0.2);
  border-bottom: 1px solid rgb(150, 150, 150, 0.2);
}

.forum-category:hover,
.forum-category-selected,
.forum-content-post:hover {
  border-top: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
}

.forum-content {
}

.forum-content-post {
  padding: 1rem 3rem;
  border-top: 1px solid rgb(160, 160, 160, 0.2);
  border-bottom: 1px solid rgb(150, 150, 150, 0.2);
  cursor: pointer;
}

.forum-post-title {
  margin: 1rem 0;
}

.forum-post-body {
  color: white;
  font-size: 1.5rem;
}

.forum-post-body i {
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .forum-body {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .forum-categories {
    width: 15vw;
  }

  .forum-content {
    width: 55vw;
  }

  .forum-post-body {
    display: flex;
    justify-content: space-between;
  }
}

/*Pagination*/

.pagination {
  text-align: center;
}

.pagination i {
  font-size: 3.5rem;
  padding: 0 5px;
  cursor: pointer;
  color: var(--color-text);
}

.pagination i:hover {
  color: var(--color-tertiary);
}

.disabled {
  color: #585858 !important;
}

.page {
  border: 1px solid var(--color-text);
  margin: 5px;
  border-radius: 50px;
  padding: 7px 10px;
  color: var(--color-text);
  cursor: pointer;
}

.page:hover,
.page-selected {
  color: var(--color-primary);
  background: var(--color-text);
}

@media screen and (min-width: 768px) {
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
