:root {
  /*GLOBAL VARIABLES*/
  --color-primary: #454545;
  --color-secondary: #ff6000;
  --color-tertiary: #ffa559;
  --color-accent: #ffe6c7;
  --color-background: #292929;
  --color-text: #aaaaaa;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

/*Typography*/

::selection {
  background: var(--color-primary);
  color: white;
}

html {
  /*62.5% of 16px = 10px*/
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.3rem; /*mobile aproach first*/
  line-height: 1.5; /*1.5*font size distancia entre linhas*/
  color: var(--color-body);
}

h1 {
  font-size: 4rem;
  color: white;
}

h2 {
  font-size: 2rem;
  color: var(--color-secondary);
}

p.bold {
  font-weight: bold;
}

/*Buttons*/
.btn {
  border: none;
  color: white;
  background: var(--color-secondary) !important;
  padding: 0 3rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--color-tertiary) !important;
}

/*Header*/
.header {
  background-image: url(/src/images/bg.jpg);
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.header a,
.header p {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.header a:hover,
.header p:hover {
  color: var(--color-secondary);
  transition: all 0.3;
  text-shadow: 0px 0px 20px #ffffff;
}

.header-other a {
  padding-right: 3rem;
}

/*Landing*/

.body {
  background: var(--color-primary);
}

.posts,
.albums {
  padding: 5rem;
}

.posts h1:hover > i,
.albums h1:hover > i {
  padding: 3rem;
  transition: padding 0.2s;
}

.posts h1 i,
.albums h1 i {
  transition: padding 0.2s;
}

.posts h1,
.albums h1 {
  cursor: pointer;
}

.posts-area,
.albums-area {
  background-color: var(--color-background);
  padding: 1rem;
  cursor: pointer;
  gap: 1px;
}

.post,
.album {
  position: relative;
  padding: 1rem 1rem 5rem 1rem;
  margin: 1rem 0;
  background-color: var(--color-primary);
  color: var(--color-text);
}

.post:hover,
.album:hover {
  background-color: #585858;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.album img {
  width: 10%;
  margin: 1rem 0;
}

.album span {
  text-align: right !important;
}

.title {
  height: 7rem;
  border-bottom: 1px solid var(--color-tertiary);
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .posts-area,
  .albums-area {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
  }

  .post,
  .album {
    margin: 0;
  }
}

/*Register*/
.register {
  background: var(--color-background);
  min-height: 70vh;
  padding: 5rem 10rem;
  text-align: center;
}

.register p {
  color: var(--color-text);
}

.register input {
  background-color: var(--color-tertiary);
  padding: 1rem;
  border-radius: 20px;
  margin-left: 5rem;
  margin: 1rem;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .register input {
    width: 45%;
  }
}

/*Posts*/
.all-posts {
  background: var(--color-background);
  min-height: 70vh;
  text-align: center;
  padding: 2% 10%;
}

.create-post {
  padding: 1% 10%;
  color: white;
}

.create-post input {
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--color-text);
  margin: 1rem 0;
  border: none;
}

.create-post .btn {
  width: 50%;
}

.creat-post-title {
}

.creat-post-body input {
  height: 10vh;
}

.single-post {
  padding: 3rem 1rem;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}

.single-post:hover {
  border: 1px solid var(--color-secondary);
}

.single-post h3 {
  color: var(--color-tertiary);
}

.comments {
  margin: 4%;
}

.comment {
  margin: 1%;
  padding: 3rem 1rem;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  text-align: left;
  border-radius: 5px;
}
