:root {
  /*GLOBAL VARIABLES*/
  --color-primary: #454545;
  --color-secondary: #ff6000;
  --color-tertiary: #ffa559;
  --color-accent: #ffe6c7;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

/*Typography*/

::selection {
  background: var(--color-primary);
  color: white;
}

html {
  /*62.5% of 16px = 10px*/
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.3rem; /*mobile aproach first*/
  line-height: 1.5; /*1.5*font size distancia entre linhas*/
  color: var(--color-body);
}

h1 {
  font-size: 4rem;
  color: var(--color-accent);
}

h2 {
  font-size: 2rem;
  color: #2da2b9;
}

p.bold {
  font-weight: bold;
}
